# Omat muistiinpanot
notes.md


#
# Osa 0
#

# Mozilla HTML/CSS-tutorial -tiedostot
/osa-0/**
# Tehtäväpalautukset
!/osa-0/0.*.png


#
# Osa 1
#

# Omat muistiinpanot
/osa-1/**
# Tehtäväpalautukset
!/osa-1/kurssitiedot
!/osa-1/kurssitiedot/**
!/osa-1/unicafe
!/osa-1/unicafe/**
!/osa-1/anekdootit
!/osa-1/anekdootit/**